@font-face {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: normal;
  src: local("Trebuchet MS"), url("../fonts/trebuc.woff") format("woff");
}

@font-face {
  font-family: "Trebuchet MS Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Trebuchet MS Italic"),
    url("../fonts/Trebuchet-MS-Italic.woff") format("woff");
}
*:focus {
  outline: none;
}
html {
  height: 100%;
}
body {
  font-family: "Trebuchet MS" !important;
  touch-action: manipulation;
  margin: 0;
  padding: 0;
  font-size: 14px;
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
}
body a {
  color: #696969;
}

body a:hover {
  color: #696969;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input:focus {
  border: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}
button:focus,
button:focus-visible,
img,
img:focus {
  border: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;
}
.btn:focus {
  box-shadow: none;
}
.button {
  border: 0;
}
.bold {
  font-weight: bold;
}
.white {
  color: #fff;
}
.black {
  color: #333;
}
.grey {
  color: #9b9b9b;
}
.main {
  color: rgb(2, 100, 95);
}
.bgMain {
  background: rgb(2, 100, 95);
}
.second {
  color: #2e303c;
}
.bgSecond {
  background: #2e303c;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgb(255, 210, 0);
  z-index: 999;
  transition: all 0.3s ease-out;
}
.activeHead {
  background: #fff;
}
.activeHead .btnLogin {
  background-color: rgb(2, 100, 95);
  color: white !important;
  border-color: rgb(2, 100, 95) !important;
}
.activeHead .btnSignup {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(2, 100, 95) !important;
  border-color: rgb(2, 100, 95) !important;
}
.activeHead .btnCart {
  color: rgb(2, 100, 95) !important;
}
.homePage {
  min-height: 480px;
}
/* Home banner */
.imgBanner {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.homeImg {
  position: fixed;
  top: 83px;
  width: 100vw;
  left: 0;
  height: calc(100vh - 37vh);
}
/* Menu item section */
.headWrap {
  overflow: auto;
}
.headWrap .menuItem a {
  color: #000;
}
.menuItems li {
  display: inline-block;
  font-size: 16px;
}
.menuItems a {
  padding: 8px;
  margin: 0 10px;
  color: #000;
}
.menuItems button {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}
.menuItems .btnLogin {
  padding: 0 10px;
  margin: 1px 5px;
  border-radius: 30px;
  color: #000;
  border: 1px solid #000;
}
.menuItems .btnSignup {
  padding: 0 10px;
  background-color: rgb(0, 0, 0);
  margin: 1px 5px;
  border-radius: 30px;
  color: rgb(255, 210, 0);
  border: 1px solid #000;
}
.btnCart {
  position: relative;
  border: 0;
  background: transparent;
  width: 54px;
  height: 54px !important;
  border-radius: 50%;
  display: block;
}
.btnCart:focus {
  outline: transparent;
}
.btnCart svg {
  margin-top: -5px;
}
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: rgba(0, 0, 0, 0.1)
    radial-gradient(circle, transparent 1%, rgba(0, 0, 0, 0.1) 1%) center/15000%;
}
.ripple:active {
  background-color: rgba(0, 0, 0, 0.1);
  background-size: 100%;
  transition: background 0s;
}

/* Category page */
.categorySection {
  margin-top: calc(100vh - 26vh);
  z-index: 99;
  position: relative;
  background: #fff;
  overflow: auto;
  padding-bottom: 50px;
}
.catItem {
  position: relative;
}
.cat {
  width: 400px;
}
.imgContainer {
  height: 300px;
  position: relative;
}
.imgContainer img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.barSpan {
  transition: all 0.3s ease-out;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #000;
  opacity: 0.9;
}
.arrBtn {
  opacity: 0 !important;
  visibility: hidden !important;
  transition: all 0.3s ease-out;
}
.iCarousel:hover .arrBtn {
  opacity: 1 !important;
  visibility: visible !important;
}
.iCarousel button:focus {
  outline: 0;
}
.MuiPaper-elevation1 {
  box-shadow: none !important;
}
.btnTest:focus {
  outline: 0;
}
.btnTest {
  border: 0;
  text-align: left !important;
  background: none;
}

/* Bottom section */
.botSec {
  overflow: auto;
  border-top: 0.5px solid #d7d7d7;
  background: #fff;
  position: relative;
  z-index: 99;
  text-align: center;
}

.btIcon {
  background: #fff;
  position: relative;
  z-index: 99;
}
.btIcon img {
  max-height: 60px;
  z-index: 30;
  position: relative;
}
.btBg {
  background: #000;
  width: 100%;
  height: 30px;
  position: relative;
  margin-top: -31px;
  overflow: auto;
}

.footer {
  background: #000;
  padding: 20px 0;
  position: relative;
  z-index: 99;
}
.footer ul {
  border-bottom: 0.5px solid #464646;
}
.footer li {
  display: inline-block;
  text-align: right;
  color: #a5a5a5;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-out;
  padding: 0 0 15px;
  font-size: 16px;
}
.footer li:hover {
  color: #04cbc5;
  border-color: #04cbc5;
}
.footerTopMenu {
  padding: 20px 0;
}

.footerMenu {
  border-bottom: 0.5px solid #464646;
}
.footLast,
.footLast a {
  color: #a5a5a5;
  font-size: 16px;
}
.footLast {
  margin: 50px 0;
}
.footLast span {
  position: relative;
  padding: 0 20px;
}
.footLast span:first-child {
  padding-left: 0 !important;
}
.footLast span::after {
  position: absolute;
  content: " | ";
  right: 0;
}
.footLast span:last-child::after {
  content: "";
}

/* Mobile menu */
.mobileMenu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background: #fff;
  z-index: 9999;
  padding: 5px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
  border-top: 1px solid #d7d7d7;
}
.mobileIcon {
  color: #a5a5a5;
  cursor: pointer;
  font-size: 30px;
}
.btnmobile {
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
}
.btnmobile:focus {
  outline: none;
}
@media only screen and (max-width: 850px) {
  .mobileMenu {
    visibility: visible;
    opacity: 1;
  }
  .headWrap {
    background-color: #fff;
  }
  .cat {
    max-width: 400px;
    min-width: 270px;
  }
  .rightHead {
    visibility: hidden;
    opacity: 0;
  }
  .leftHead {
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
  .arrBtn {
    opacity: 1 !important;
    visibility: visible !important;
  }
  .footer,
  .btIcon {
    display: none;
  }
  .imgContainer {
    height: 170px;
    position: relative;
    width: 100%;
  }
  .imgContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 500px) {
  .cat {
    width: 250px;
  }
  .imgContainer {
    height: 100px;
    position: relative;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
  }
  .imgContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .imgBanner {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .homeImg {
    position: fixed;
    top: 83px;
    width: 100vw;
    left: 0;
    height: calc(100vh - 56vh);
  }
  .categorySection {
    margin-top: calc(100vh - 45vh);
  }
}
